.row {
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white;
    color: #16b122;
}

.row.selectable:hover {
    background-color: #FFB273;
    cursor: pointer;
}

.row.selectable:hover .badge {
    background-color: white;
}

.row.selectable:hover .title {
    border-bottom: 1px solid white;
}

.spacer {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px 20px;
}

.badge {
    float: right;
    padding: 4px 8px;
    min-width: 12%;
    border-radius: 10px;
    background-color: #ffb273;
    text-align: center;
    font-size: 60%;
}

.title {
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 36px;
}

.emphasis {
    font-style: italic;
    font-family: 'Lora', serif;
    text-transform: none;
}

.voteComposer .description {
    font-size: 22px;
    padding: 0;
    margin: 0;
}

.voteComposer .head {
    border-bottom: none;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.voteComposer input {
    color: #A60000;
    border: 0;
    outline: 0;
    margin: 0;
    width: 100%;
}

.voteComposer input::-moz-placeholder {
    color: #A60000;
}

.voteComposer input::-webkit-input-placeholder {
    color: #A60000;
}

.voteComposer input:-ms-input-placeholder {
    color: #A60000;
}

.voteComposer input:hover {
    background-color: #5CCCCC;
}

.voteComposer input:focus {
    color: #A60000;
    border: 0;
    outline: 0;
    background-color: white;
}

.voteComposer .choice {
    border: 3px solid #FFB273;
    margin-bottom: 24px;
    background-color: #5CCCCC;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
}

.voteComposer .choice:hover {
    border: 3px solid #ff9640;
}

.voteComposer .choice:focus {
    border: 3px solid #ff9640;
}

.voteComposer .composeBody {
    padding-bottom: 15px;
}

.buttonBar {
    border-top: 1px solid #5CCCCC;
    padding-top: 15px;
}

.button {
    display: inline-block;
    background-color: #5CCCCC;
    padding: 8px 12px 8px 12px;
    margin-right: 20px;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.button:hover {
	background-color: #FFB273;
}

.button.disabled {
	color: #ff9640;
	cursor: auto;
}

.button.disabled:hover {
	background-color: #5CCCCC;
}
