.row {
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white;
    color: #16b122;
}

.votingRow {
    margin-right: 0;
    margin-left: 0;
}

.votingRow .description {
    margin: 0;
    padding: 0;
    font-size: 2px;
}

.spacer {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px 20px;
}

.badge {
    float: right;
    padding: 4px 8px;
    min-width: 12%;
    border-radius: 10px;
    background-color: #ffb273;
    text-align: center;
    font-size: 60%;
}
.head {
    border-bottom: none;
}

.title {
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 36px;
}

.emphasis {
    font-style: italic;
    font-family: 'Lora', serif;
    text-transform: none;
}

.buttonBar {
    border-top: 1px solid #5CCCCC;
    padding-top: 15px;
}

.button {
    display: inline-block;
    background-color: #5CCCCC;
    padding: 8px 12px 8px 12px;
    margin-right: 20px;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #FFB273;
}

.button.disabled {
    color: #ff9640;
    cursor: auto;
}

.button.disabled:hover {
    background-color: #5CCCCC;
}

.loginForm {
        margin-top: 20px;
}

.loginForm input {
        font-size: 14px;
        border: 3px solid #FFB273;
        margin-bottom: 24px;
        background-color: #5CCCCC;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
}

.loginForm input::-moz-placeholder {
        color: #A60000;
}

.loginForm input::-webkit-input-placeholder {
        color: #A60000;
}

.loginForm input:-ms-input-placeholder {
        color: #A60000;
}

.LoginForm input:focus {
        color: #A60000;
        outline: 0;
}
